torch==2.7.1+cpu
transformers
scikit-learn
flask
beautifulsoup4
requests
matplotlib
datasets
pytest
scikit-optimize

trl
rich
faiss-cpu
opencv-python
soundfile
aiohttp
psutil
pillow
pyyaml
tqdm
torchvision
lmdb
msgpack
websockets
